{% extends "C:\Users\Usuario\Desktop\curso_python_clases\entregas\ProyectoFInalRothamel\ultima_entrega_rothamel_esteban\templates\Padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h1>Lista de Clientes</h1>
<style>
    /* Estilos para mejorar la visibilidad de los enlaces */
    .clickable-link {
        font-size: 20px;
        text-decoration: none;
        color: blue; /* Cambia el color del texto del enlace */
        font-weight: bold; /* Hace el texto del enlace más grueso */
    }

    .clickable-link:hover {
        text-decoration: underline; /* Subraya el texto del enlace al pasar el ratón por encima */
        color: darkblue; /* Cambia el color del texto del enlace al pasar el ratón por encima */
        cursor: pointer; /* Cambia el cursor a una mano al pasar el ratón por encima */
    }
</style>
<ul>
    {% for cliente in clientes %}
        <li>            
            <a href="{% url 'DetalleCliente' cliente.id %}" class="clickable-link">
                {{ cliente.nombre }} {{ cliente.apellido }}
            </a>
        </li>
        <div>
            <div style="display: flex; gap: 10px;">
                <!-- Formulario para eliminar -->
                <form action="{% url 'EliminaCliente' cliente.id %}" method="get" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit" style="
                        background-color: grey; /* Rojo */
                        color: white;
                        padding: 2px 10px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 14px;">
                        Eliminar
                    </button>
                </form> 

                <!-- Formulario para editar -->
                <form action="{% url 'ActualizaCliente' cliente.id %}" method="get" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit" style="
                        background-color: grey; /* Verde */
                        color: white;
                        padding:2px 10px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 14px;">
                        Editar
                    </button>
                </form> 
            </div>
        </div>
    {% endfor %}
</ul> 

<style>
    .btn-custom {
        background-color: #d3d3d3; /* Gris claro */
        color: black; /* Letras en negro */
        border: none;
        margin-bottom: 20px;
    }
    .btn-custom:hover {
        background-color: #c0c0c0; /* Gris un poco más oscuro al pasar el mouse */
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        flex-direction: column;
    }
</style> 

<body>
    <div class="button-container">
        <a href="{% url 'CreaCliente' %}" class="btn btn-custom">Cargar nuevo cliente</a>
    </div>
</body>
{% endblock %}